:root {
  font-size: 62.5%;
  font-family: "Open Sans";
  height: 100vh;
  margin: 0;
  padding: 0;
  color: black;
}

.modal-dialog {
  width: 37rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) !important;
}

.modal-content {
  border-radius: 10px;
}

#modal_img {
  height: 30rem;
}

#modal_card {
  border-radius: 0%;
  border: none;
}

.modal-footer .btn {
  font-size: 1.5rem !important;
}

.modal_card_div {
  padding: 0 10px 0 10px;
  pointer-events: none;
}

#modal_code_type {
  margin-bottom: 10px;
}

#modal_desc {
  padding-bottom: 0;
  max-height: 10rem;
  overflow-y: auto;
}

.status {
  color: rgb(255, 255, 255);
  font-size: 1.3em;
  font-weight: bold;
  padding: 0.125rem 1rem;
  border-radius: 5px;
  display: inline-block;
  width: 50% !important;
  text-align: center;
}

.status.sql {
  background: rgb(255, 149, 0);
}

.status.vBasic {
  background: #00ffb7;
  color: black;
}

.status.java {
  background: rgb(255, 42, 0);
}

.status.cSharp {
  background: rgb(135, 38, 254);
}

.status.cPlus {
  background: rgb(12, 97, 142);
}
.status.c {
  background: rgb(44, 165, 3);
}

.status.python {
  background: linear-gradient(45deg, rgb(5, 76, 242), yellow);
}

.status.javascript {
  background: rgb(255, 247, 0);
  color: black;
}

.status.r {
  background: linear-gradient(45deg, rgb(56, 115, 252), rgb(180, 180, 180));
}

.status.php {
  background: rgb(230, 174, 229);
}

.status.swift {
  background: rgb(255, 255, 255);
  border: solid black 0.1px;
  color: black;
}

.status.go {
  background: rgb(25, 184, 253);
  color: black;
}

.card_section.top {
  padding: 0 !important;
  display: flex;
  width: 120rem;
  margin-left: auto;
  margin-right: auto;
  background: #e9e9e9;
  justify-content: center;
  background-image: url(https://assets.pokemon.com/static2/_ui/img/chrome/container_bg.png);
}

.hamburger {
  display: none;
}

body {
  background-image: url(https://assets.pokemon.com/static2/_ui/img/chrome/body_bg.png);
  height: 100%;
}

.card_count_id {
  color: #a2a2a2;
  position: absolute;
}

.hidden {
  display: none !important;
}

.form-control {
  font-size: 1.5rem;
}

#input_forms {
  margin-top: 30px;
}

#cards_container {
  padding-top: 20px;
  background-color: #e4e4e4b0;
  width: 90rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.card_div {
  width: 28%;
  padding: 10px;
  pointer-events: none;
}

.card {
  margin: 1rem;
  background-color: #ffffff;
  border-color: #c0c0c03f;
  transition-duration: 0.3s;
  pointer-events: auto;
  border-radius: 10px;
}

.card-body {
  padding-top: 5px;
}

.card-text.top {
  padding-top: 30px;
  padding-bottom: 2px;
}

.card:hover .card-img-top {
  filter: grayscale(0%) brightness(150%);
}

.card-img-top {
  border-radius: 10px 10px 0 0;
  height: 22rem;
  padding: 25px;
  background-color: #ffffff;
}

.card_div:hover {
  padding: 0 10px 0 10px;
  transition-duration: 0.3s;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: aqua;
  width: 80%;
}

h1 {
  font-size: 3.6rem;
  margin: 0;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2.4rem;
}

ul {
  list-style-type: none;
}

p,
label,
li,
button,
input {
  font-size: 1.8rem;
}

label {
  font-weight: bold;
}

li.nav_list_item span {
  color: #cccccc;
}

nav {
  display: flex;
  height: 10rem;
  list-style: none;
  padding: 0;
  z-index: 10;
  background-color: #ffffff;
  width: 100%;
  align-items: center;
  background-color: #3d3d3dd2;
}

.top_nav {
  margin: 0;
  align-items: center;
  display: flex;
  width: 70%;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  height: 100%;
}

.nav_list_item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 12rem;
  filter: grayscale(100%); /* Force icons to be gray until hovered over */
  transition: 600ms;
}

.nav_list_item:hover {
  filter: grayscale(0%) opacity(1);
}

.nav_list_item:hover i.fa-solid {
  color: #d900ff;
}
.nav_list_item:hover span {
  color: #ffffff;
}

li.nav_list_item:hover {
  background-color: rgb(93, 93, 93) !important;
}
.nav_list_item.active {
  filter: grayscale(0%) opacity(1);
}

.nav_list_item.active i.fa-solid {
  color: #d900ff;
}
.nav_list_item.active span {
  color: #ffffff;
}

li.nav_list_item.active {
  background-color: rgb(93, 93, 93) !important;
  border-bottom: 5px solid #d900ff;
}

.nav_list_item span {
  text-decoration: none !important;
}

i.fa-solid {
  color: #a2a2a2;
  font-size: x-large;
}

.profile_pic {
  position: absolute;
  right: 0;
  border-radius: 50%;
  height: 5rem;
  margin-right: 2%;
}

.navbar_title {
  position: absolute;
  left: 3%;
  color: rgb(211, 211, 211);
}

.navbar_title:hover {
  color: rgb(255, 255, 255);
}

.btn {
  margin: 1.6rem 0;
}

.link {
  padding: 1rem 0;
  font-size: 1.8rem;
  display: inline-block;
}

.profile-avatar {
  margin-top: 50px;
}

/* Sachin Start Here */
.index-background-image {
  background-image: url("https://images.unsplash.com/photo-1574619151033-a9e1f81cae52?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=764&q=80");
  height: 100vh;
  background-position: center;
  background-image: cover;
}

.container {
  text-align: center;
  padding: 30px;
  background: transparent;
  display: flex;
  flex-direction: column;
  height: 100vh;
  align-items: center;
  justify-content: center;
  color: white;
}

.logo-image {
  height: 100px;
}

#createContainer {
  padding-top: 20px;
  /* background-color: #e4e4e4b0;
  width: 75%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center; */
}

.registerModal {
  padding: 1em;
  max-width: 50ch;
}

#registerModalContent {
  width: 250px;
  background-color: rgb(226, 141, 141);
}

@media screen and (min-width: 1394px) and (max-width: 1644px) {
  #cards_container {
    width: 80rem;
  }

  .card_div {
    width: 33%;
  }

  .card_section.top {
    width: 100rem;
  }
}

@media screen and (min-width: 728px) and (max-width: 1488px) {
  .navbar_title {
    display: none !important;
  }
}

@media screen and (min-width: 829px) and (max-width: 1488px) {
  #cards_container {
    width: 50rem;
  }

  .card_div {
    width: 50%;
  }

  .card_section.top {
    width: 70rem;
  }
}
@media screen and (max-width: 1183px) {
  .profile_pic {
    display: none;
  }

  .top_nav {
    width: 100%;
  }
  .nav_list_item {
    width: 14%;
  }
}
@media screen and (max-width: 728px) {
  .top_nav {
    flex-direction: column;
    position: absolute;
    top: 15%;
    width: 100%;
    height: 85%;
    background-color: rgb(93, 93, 93) !important;
    z-index: 10;
  }
  nav {
    height: 15%;
  }

  .toggle_menu {
    display: none !important;
  }

  .nav_list_item {
    width: 100%;
    border: solid 1px black;
  }

  li.nav_list_item.active {
    border-bottom: 1px solid;
  }

  .hamburger {
    display: block;
    position: absolute;
    right: 5%;
    margin-left: 30px;
    cursor: pointer;
    z-index: 10;
  }
  .navbar_title {
    display: block !important;
    left: 5%;
  }
}

@media screen and (min-width: 618px) and (max-width: 828px) {
  #cards_container {
    width: 50rem;
  }

  .card_div {
    width: 60%;
  }

  .card_section.top {
    width: 50rem;
  }
}

@media screen and (min-width: 200px) and (max-width: 618px) {
  #cards_container {
    width: 30rem;
  }

  .card_div {
    width: 100%;
  }

  .card_section.top {
    width: 30rem;
  }
}
