:root {
  font-size: 62.5%;
  font-family: "Open Sans";
  height: 100vh;
  margin: 0;
  padding: 0;
  color: black;
}

.modal-dialog {
  width: 18%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) !important;
}

.status {
  color: rgb(255, 255, 255);
  font-size: 1.3em;
  font-weight: bold;
  padding: 0.125rem 1rem;
  border-radius: 5px;
  width: 100px !important;
}

.status.javascript {
  background: rgb(255, 149, 0);
}

.status.java {
  background: rgb(255, 42, 0);
}

.status.CSharp {
  background: rgb(0, 166, 255);
  padding: 0.125rem 3rem;
}

.status.python {
  background: purple;
  padding: 0.125rem 2rem;
}

html {
  box-sizing: border-box;
}

.card_section.top {
  padding: 0 !important;
  display: flex;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  background: #e9e9e9;
  justify-content: center;
  background-image: url(https://assets.pokemon.com/static2/_ui/img/chrome/container_bg.png);
}

body {
  background-image: url(https://assets.pokemon.com/static2/_ui/img/chrome/body_bg.png);

  height: 100%;
}

.card_count_id {
  color: #a2a2a2;
  position: absolute;
}

.hidden {
  display: none;
}

.form-control {
  font-size: 1.5rem;
}

.modal-footer .btn {
  font-size: 1.5rem !important;
}

/* #info_buttons {
  display: flex;
  flex-direction: row;
  align-content: s;
}

#input_buttons {
} */

#input_forms {
  margin-top: 30px;
}

#cards_container {
  padding-top: 20px;
  background-color: #e4e4e4b0;
  width: 75%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.card_div {
  width: 28%;
  padding: 10px;
  pointer-events: none;
}
.modal_card_div {
  padding: 0 10px 0 10px;
  pointer-events: none;
}

.model-content {
  border-radius: 15px !important;
}

#modal_desc {
  padding-top: 1.5rem;
  padding-bottom: 0;
}

.card {
  margin: 1rem;
  background-color: #ffffff;
  border-color: #c0c0c03f;
  transition-duration: 0.3s;
  pointer-events: auto;
  border-radius: 10px;
}

.card-body {
  padding-top: 5px;
}

.card-text.top {
  padding-top: 30px;
  padding-bottom: 2px;
}

.card:hover .card-img-top {
  filter: grayscale(0%) brightness(150%);
}

.card-img-top {
  border-radius: 10px 10px 0 0;
  height: 22rem;
  padding: 25px;
  background-color: #ffffff;
}

.card_div:hover {
  padding: 0 10px 0 10px;
  transition-duration: 0.3s;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: aqua;
  width: 80%;
}

h1 {
  font-size: 3.6rem;
  margin: 0;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2.4rem;
}

ul {
  list-style-type: none;
}

p,
label,
li,
button,
input {
  font-size: 1.8rem;
}

label {
  font-weight: bold;
}

li.nav_list_item span {
  color: #cccccc;
}

nav {
  display: flex;
  height: 10rem;
  list-style: none;
  padding: 0;
  z-index: 10;
  background-color: #ffffff;
  width: 100%;
  align-items: center;
  background-color: #3d3d3dd2;
}

.top_nav {
  margin: 0;
  align-items: center;
  display: flex;
  width: 60%;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
  height: 100%;

  /* background: radial-gradient(ellipse at center, #393939 0%, #303030 90%); */
}

.nav_list_item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 13%;
  filter: grayscale(100%); /* Force icons to be gray until hovered over */
  transition: 600ms;
}

.nav_list_item:hover {
  filter: grayscale(0%) opacity(1);
}

.nav_list_item:hover i.fa-solid {
  color: #d900ff;
}
.nav_list_item:hover span {
  color: #ffffff;
}

li.nav_list_item:hover {
  background-color: rgb(93, 93, 93) !important;
}
.nav_list_item.active {
  filter: grayscale(0%) opacity(1);
}

.nav_list_item.active i.fa-solid {
  color: #d900ff;
}
.nav_list_item.active span {
  color: #ffffff;
}

li.nav_list_item.active {
  background-color: rgb(93, 93, 93) !important;
  border-bottom: 5px solid #d900ff;
}

.nav_list_item span {
  text-decoration: none !important;
}

i.fa-solid {
  color: #a2a2a2;
  font-size: x-large;
}

.profile_pic {
  border-radius: 50%;
  height: 50%;
  margin-right: 2%;
}

.fa-solid.fa-v {
}

.navbar_title {
  margin-left: 2%;
  color: rgb(211, 211, 211);

  /* background: radial-gradient(#5c5c5c 0%, #303030 100%); */
}

.navbar_title:hover {
  color: rgb(255, 255, 255);
  /* background: radial-gradient(ellipse at center, #5c5c5c 80%, #868585 80%); */
}

.btn {
  margin: 1.6rem 0;
}

.link {
  padding: 1rem 0;
  font-size: 1.8rem;
  display: inline-block;
}

.profile-avatar {
  margin-top: 50px;
}

/* Sachin Start Here */
.index-background-image {
  background-image: url("https://images.unsplash.com/photo-1574619151033-a9e1f81cae52?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=764&q=80");
  height: 100vh;
  background-position: center;
  background-image: cover;
}

.index-container {
  text-align: center;
  padding: 30px;
  background: transparent;
  display: flex;
  flex-direction: column;
  height: 100vh;
  align-items: center;
  justify-content: center;
  color: white;
}

.logo-image {
  height: 100px;
}
